.submitted{
  color:green;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

.unsubmitted{
    color:red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

  .container{
display: flex;
flex-direction: column;
  }
  .btn{
      align-self :flex-end;
      margin-top: -54px;
  }
  mat-card{
    margin:5px 0 5px 0;
    max-width:400px;
    height: 50px;
  }
  .header{
    display: flex;
flex-direction: row;
justify-content: space-between;

  }